*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html p{
    color: hsl(233, 8%, 62%);
}

@import url(./styles/Navbar.css);
@import url(./styles/MainPage.css);
@import url(./styles/Articles.css);
@import url(./styles/Footer.css);
